html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("../images/pokemon-bg-full.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.api-logo {
  max-height: 2.5em;
}

.font-10 {
  font-size: 12px !important;
}
